include layout
h1= title
form( method="post")
    div#newform
        div#newtitle
            span Title : 
            input(type="text", name="title", id="editArticleTitle")
        div#newbody
            span.body Body :
            textarea( name="body", rows=10, id="editArticleBody")
        div#editArticleSubmit
            input(type="submit", value="Send")