body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}
h1,
h2 {
  margin: 0;
  font-size: 25px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 80px;
}
#new {
  text-align: center;
  font-size: 30px;
}
#articles {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 1000px;
}
#articles .article {
  margin: 20px;
}
#articles .article .created_at {
  display: none;
}
#articles .article .title {
  font-weight: bold;
  text-decoration: none;
  background-color: #eee;
  font-size: 30px;
}
#articles .article .body {
  background-color: #ffa;
  font-size: 20px;
}
.article .created_at {
  display: none;
}
.article .title {
  font-weight: bold;
  text-decoration: none;
  background-color: #eee;
  font-size: 80px;
  padding: 20px;
}
.article .body {
  background-color: #ffa;
  font-size: 40px;
  margin-bottom: 20px;
}
.article .person {
  background-color: #aba;
  font-size: 20px;
}
.article .comment {
  font-size: 15px;
  margin-bottom: 10px;
}
.article span {
  font-size: 15px;
}
.article input[type =text] {
  width: 490px;
  margin-left: 20px;
}
.article input[type =button],
.article input[type =submit] {
  margin-top: 10px;
  text-align: center;
}
.article textarea {
  margin-top: 15px;
  width: 490px;
  height: 90px;
}
#newtitle {
  font-size: 20px;
  padding: 10px;
}
#newbody {
  font-size: 20px;
}
