body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 13px
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
h1, h2
  margin 0
  font-size 25px
  color #343434
h1
  text-shadow 1px 2px 2px #ddd
  font-size 80px
#new
  text-align center
  font-size 30px

#articles
  text-align left
  margin-left auto
  margin-right auto
  margin-bottom 30px
  width 1000px
  .article
    margin 20px
    .created_at
        display none
    .title
        font-weight bold
        text-decoration none
        background-color #eee
        font-size 30px
    .body
        background-color #ffa
        font-size 20px
.article
  .created_at
    display none
  .title
    font-weight bold
    text-decoration none
    background-color #eee
    font-size 80px
    padding 20px
  .body
    background-color #ffa
    font-size 40px
    margin-bottom 20px
  .person
    background-color #aba
    font-size 20px
  .comment 
    font-size 15px
    margin-bottom 10px
  span 
    font-size 15px
  input[type =text]
    width 490px
    margin-left 20px

  input[type =button], input[type =submit]
    margin-top 10 px
    text-align center
  textarea
    margin-top 15px
    width 490px
    height 90px

#newtitle
  font-size 20px
  padding: 10px;
#newbody
  font-size 20px
